*.asv
.coverage*
doc/_build/
.DS_Store
.eggs/
.hypothesis
.ipynb_checkpoints/
.project
*.pyc
__pycache__
.pydevproject
.pytest_cache/
satsense.egg-info/
test-reports/
.coverage*
.DS_Store
.pytest_cache
.vscode
